.TabsList ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.TabsList li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  height: 70px;
  transition: .2s ease;
  cursor: pointer;
}

.TabsList li:hover {
  background-color: rgb(228, 227, 227);
}
